html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*  */

.map-container {
  width: 100%;
  height: 100vh;
}
/////stiluri pt scroll bar////
/* width */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: gray;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2b2b2b;
  border-radius: 10px;
}

a {
  color: lightgrey !important;
  overflow: hidden;
  font-size: 90% !important;
}

.map-container {
  width: 100%;
  height: 100vh;
  position: absolute;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.legend {
  opacity: 0.9;
  width: 200px;
  height: 200px;
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: rgb(10, 25, 41);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.mainnavlink {
  white-space: nowrap;
}
.mainnavlink:hover {
  border-bottom: 2px solid green;
  padding-bottom: 4px;
}
